<tests>
   <test 
      driver="org.xmldb.api.reference.DatabaseImpl" 
      uriPrefix="xmldb:ref:///" 
      supportsNested="true"
      quietMode="true"/>
   <!--test 
      driver="org.dbxml.client.xmldb.DatabaseImpl" 
      uriPrefix="xmldb:dbxml:///db/" 
      supportsNested="true"
      quietMode="true"/-->
</tests>
